/* ================= COMMON ================= */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ================= HEADER ================= */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}
address {
  font-style: normal;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}
.contacts-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  padding: 24px 0;
  display: block;
  letter-spacing: 0.02em
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* ================= HERO ================= */
.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0 auto 48px;
  max-width: 496px;
}

.hero-button {
  min-width: 169px;
  height: 56px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  transition: background-color 0.3s ease;
  letter-spacing: 0.04em;
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ================= VISUALLY HIDDEN ================= */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ================= FEATURES ================= */
.section {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.features-card {
  flex: 1 1 calc((100% - 3 * 24px) / 4);
  min-width: 200px;
}

.section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-text {
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ================= TEAM ================= */
.team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
  text-align: center;
}



.team-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 72px;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  justify-content: center;
}

.team-card {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  max-width: 264px;
  flex: 1 1 264px;
  text-align: center;
}

.team-card img {
  width: 100%;
  height: auto;
  display: block;
}

.team-card-info {
  padding: 32px 16px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
}

/* ================= APPLICATIONS ================= */
.section-apps {
  padding: 120px 0;
  background-color: #ffffff;
}

.section-apps-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 72px;
  color: #2e2f42;
}

.app-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0;
}

.app-card {
  width: calc((100% - 48px) / 3);
  background-color: #fff;
 border: none;
}

.app-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
  border: none;
}

.app-card-info {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
}

.app-title {
  font-size: 20px;
  font-weight: 500;
    line-height: 40px;
      letter-spacing: 0.02em;
  margin: 0 0 8px;
  color: #2e2f42;
  text-align: left;
}

.app-description {
    font-weight: 400;
    line-height: 24px;
     letter-spacing: 0.02em;
  font-size: 16px;
  color: #434455;
  margin: 0;
  text-align: left;
}

/* ================= FOOTER ================= */
.footer-container {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
}

.footer-logo {
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  text-transform: uppercase;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  max-width: 264px;
  letter-spacing: 0.02em;
}


.capitalize-title {
  text-transform: capitalize;
}